1 VERSIONINFO
FILEVERSION 1,0,0,1
PRODUCTVERSION 1,0,0,1
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "Stanislaw Dutkiewicz"
      VALUE "FileDescription", "Neutron Board Game"
      VALUE "FileVersion", "1.0.0.1"
      VALUE "InternalName", "NeutronBoard"
      VALUE "LegalCopyright", "Copyright © 2023 Stanislaw Dutkiewicz. All rights reserved."
      VALUE "OriginalFilename", "NeutronBoard.exe"
      VALUE "ProductName", "Neutron Board Game"
      VALUE "ProductVersion", "1.0.0.1"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 1252
  END
END
